@page "/topics/{TopicId:int}"
@page "/topics/{TopicId:int}/{TopicTitle}"
@rendermode InteractiveServer
@inject ITopicRepository topicRepository
@inject IMenuRepository menuRepository
@inject ITagRepository tagRepository
@inject NavigationManager navigationManager

<PageTitle>@((MarkupString)topic.Name)</PageTitle>

<section class="page_title ds s-overlay s-parallax s-pt-130 s-pt-xl-150 s-pb-65">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>@((MarkupString)topic.Name)</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/">Початок</a>
					</li>
					<li class="breadcrumb-item">
						<a href="/menu/@menu.Id/@menuTitle">@((MarkupString)menu.Name)</a>
					</li>
					<li class="breadcrumb-item active">
						@((MarkupString)topic.Name)
					</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="ds s-py-90 s-py-xl-150">
	<div class="container">
		<div class="row c-gutter-60">
			<main class="col-lg-7 col-xl-8">
				<GenericList List="topic.Articles">
					<WholeListTemplate>
						@if (topic.Articles != null)
						{
							@foreach (var article in topic.Articles)
							{
								<article class="text-center ds bs text-md-left vertical-item content-padding post type-post status-publish format-standard has-post-thumbnail sticky">
									<div class="item-media post-thumbnail">
										<img src="@article.Picture" alt="@((MarkupString)article.Title)">
										<div class="media-links">
											<a class="abs-link" href="/article/@article.Id/@StringUtilities.Translit(article.Title)"></a>
										</div>
									</div>
									<div class="item-content">
										<header class="entry-header">
											<span class="cat-links">
												<a href="/menu/@menu.Id/@menuTitle" rel="category tag">
													@((MarkupString)menu.Name)
												</a>,
											</span>
											<h4 class="entry-title mb-3 links-maincolor2">
												<a class="fs-30" href="/article/@article.Id/@StringUtilities.Translit(article.Title)" rel="bookmark">
													@((MarkupString)article.Title)
												</a>
											</h4>
										</header>
										<div class="entry-content mt-35">
											<p>
												@((MarkupString)article.Description)
											</p>
										</div>
										<div class="entry-footer">
											<div class="entry-meta">
												<span>
													<a href="/date/@article.Created.ToString()" rel="bookmark">
														<time class="entry-date published updated" datetime="@article.Created.ToString()">@((MarkupString)(@article.Created.ToString("dd MMM yyyy")))</time>
													</a>
												</span>
												<!--
												<span class="comments-link">
													<i class="fa fa-comments"></i>
													<span class="screen-reader-text">4 Comments</span>
													<a href="blog-single-right.html">4</a>
												</span>
												-->
											</div>
											<div>
												<a href="/articles/edit/@article.Id" class="mt-30 font-2"><i class="fa fa-pencil-square-o color-main ml-2" aria-hidden="true"></i></a>
												<a class="mt-30 font-2" @onclick="@(() => DeleteArticle(article))" style="cursor: pointer"><i class="fa fa-trash-o color-main ml-2" aria-hidden="true"></i>&nbsp;&nbsp;</a>
												<a href="/article/@article.Id/@StringUtilities.Translit(article.Title)" class="mt-30 font-2">Читати <i class="fa fa-caret-right color-main ml-2"></i></a>
											</div>
										</div>
										@if (article.ArticlesTags.Count > 0)
										{
											<div class="tag-wrapper mt-30">
												<span class="tag-links">
													@foreach (var tag in article.ArticlesTags)
													{
														<a href="/tag/@tag.Tag.Id/@StringUtilities.Translit(tag.Tag.Mark)" rel="tag">@tag.Tag.Mark</a>
													}
												</span>
											</div>
										}
									</div>
								</article>
							}
						}
					</WholeListTemplate>
				</GenericList>
			</main>

			<aside class="col-lg-5 col-xl-4">
				<div class="widget widget_categories">
					<h3 class="widget-title">Теми</h3>
					<ul>
						@if (menu.Topics != null)
						{
							@foreach (var topic in menu.Topics)
							{
								<li class="cat-item">
									<a href="/topics/@topic.Id/@StringUtilities.Translit(topic.Name)">@((MarkupString)topic.Name)</a>
								</li>
							}
						}
					</ul>
				</div>

				<div class="ds bs box-shadow">
					<div class="widget widget_search">
						<h3 class="widget-title">Пошук</h3>
						<form role="search" method="get" class="search-form" action="/articles/search">
							<label for="search-form-widget">
								<span class="screen-reader-text">Шукати:</span>
							</label>
							<input type="search" id="search-form-widget" class="search-field form-control" placeholder="Шукати" value="" name="search">
							<button type="submit" class="search-submit">
								<span class="screen-reader-text">Шукати</span>
							</button>
						</form>
					</div>
				</div>

				<div class="ds">
					<div class="widget widget_tag_cloud">
						<h3 class="widget-title">Ключові слова</h3>
						<div class="tagcloud">
							@if (tags != null)
							{
								@foreach (var tag in tags)
								{
									<a href="/tag/@tag.Id/@StringUtilities.Translit(tag.Mark)" class="tag-cloud-link">
										@((MarkupString)tag.Mark)
									</a>
								}
							}
						</div>
					</div>
				</div>

				<div class="widget widget_recent_posts">
					<h3 class="widget-title">Найпопулярніші статті</h3>
					<!--
					<ul class="list-unstyled">
						<li class="media">
							<a class="media-image" href="blog-single-right.html">
								<img src="images/recent_post1.jpg" alt="img">
							</a>
							<div class="media-body">
								<h4>
									<a href="blog-single-right.html">Eod tempor invidunt labore dolore magna</a>
								</h4>
								<p class="item-meta">
									Dec 18, 2018
								</p>
							</div>
						</li>

						<li class="media">
							<a class="media-image" href="blog-single-right.html">
								<img src="images/recent_post2.jpg" alt="img">
							</a>
							<div class="media-body">
								<h4>
									<a href="blog-single-right.html">Aliquyam erat, sed voluptua vero eos </a>
								</h4>
								<p class="item-meta">
									Nov 22, 2018
								</p>

							</div>
						</li>

						<li class="media">
							<a class="media-image" href="blog-single-right.html">
								<img src="images/recent_post1.jpg" alt="img">
							</a>
							<div class="media-body">
								<h4>
									<a href="blog-single-right.html">Et justo duo dolores et ea rebum</a>
								</h4>
								<p class="item-meta">
									Nov 12, 2018
								</p>

							</div>
						</li>
					</ul>
					-->
				</div>
			</aside>
		</div>

	</div>
</section>

<section class="ds s-overlay s-parallax section-video s-py-90 s-pt-xl-150 s-pb-xl-200 text-center" style="background-position: 50% -12px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
                    <span>Додати тему</span>
				</h3>
				<div class="line"></div>
				<p class="text-center fs-20 mt-4">
					<span>Ви має бути авторизованим користувачем аби мати змогу додавати теми</span>
				</p>
				<div class="divider-40 divider-xl-60"></div>
				<button @onclick="AddNewTopic">Створити тему</button>
			</div>
		</div>
	</div>
</section>

<section class="ds s-overlay s-parallax s-py-90 s-pt-xl-150 s-pb-xl-200 text-center" style="background-position: 50% -12px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="text-center mt-0 mb-2 special-heading fs-60 color-main">
					<span>Додати статтю</span>
				</h3>
				<div class="line"></div>
				<p class="text-center fs-20 mt-4">
					<span>Ви має бути авторизованим користувачем аби мати змогу додавати статті</span>
				</p>
				<div class="divider-40 divider-xl-60"></div>
				<button @onclick="AddNewArticle">Створити статтю</button>
			</div>
		</div>
	</div>
</section>

<Confirmation @ref="confirmation" onCancel="onCancel" onConfirm="onConfirm">
	<div>Ви впевнені, що хочете видалити статтю «@((MarkupString)articleToBeDeleted.Title)»?</div>
</Confirmation>

@code {
	[Parameter] public int TopicId { get; set; }
	[Parameter] public string TopicTitle { get; set; }
	Topic topic = new Topic();
    Menu menu = new Menu();
    string menuTitle = string.Empty;
	Confirmation confirmation;
    List<Tag> tags = new List<Tag>();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			topic = await topicRepository.GetTopicByIdAsync(TopicId);
            menu = await menuRepository.GetMenuByIdAsync(topic.MenuId);
            menuTitle = StringUtilities.Translit(menu.Name);
			tags = await tagRepository.GetAllTagsAsync();
		}
		catch (Exception ex)
		{
			navigationManager.NavigateTo($"/Error/{Uri.EscapeDataString(ex.Message)}");
		}
	}

	private void AddNewTopic()
	{
		navigationManager.NavigateTo("/topics/create");
	}

	private void AddNewArticle()
	{
		navigationManager.NavigateTo("/articles/create");
	}

	Article articleToBeDeleted;
	private async Task DeleteArticle(Article article)
	{
		articleToBeDeleted = article;
		confirmation.Show();
	}

	void onConfirm()
	{
		// Articles.Remove(articleToBeDeleted);
		confirmation.Hide();
		articleToBeDeleted = null;
	}

	void onCancel()
	{
		confirmation.Hide();
		articleToBeDeleted = null;
	}
}
