<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["lib/twitter-bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/font_awesome/css/font-awesome.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/animations.css"]" />
    <link rel="stylesheet" href="@Assets["js/editor.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorMaga.styles.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="/lib/jquery/compressed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script src="/js/editor.umd.js"></script>
    <script src="/main.js"></script>
    <script src="/Utilities.js"></script>
</body>

</html>
